/* -------------------- main ------------------------*/

#carrito-header{
    font-size: 2rem;
    color: #262626;
    margin: 3% 13% 0% 13%;
}

#carrito-container{
    /* margin: 3% 13% 3% 13%; */
    display: flex;
    gap: 4%;
}

/*--------- cards ---------*/

.carrito-card-container{
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 1rem;
}
.carrito-card{   
    background-color:white;
    display: flex;
    color: #262626;
    padding: 1% 1.5% 1% 1.5%;
    gap: 3%;
    border-radius: 3px;
    align-items:center;
}

.carrito-card-imagen{
    max-width: 25%;
}

.carrito-card-imagen img{
    max-width: 100%;
    border-radius: 5px;
}

.carrito-card-content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 75%;
    height: 100%;
}

.carrito-card-header{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.carrito-card-info-categoria{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
}

#carrito-card-info-precio{
    max-width: 60%;
    font-size: 0.9rem;
    color: #262626;
}

.carrito-card-info-categoria h3{
    white-space: nowrap;
    margin: 0% 3% 0% 0%;
    font-size: 0.8rem;
    background-color: rgba(55,55,55,255);
    color: rgba(200,200,200,255);
    border-radius: 5px;
    padding: 2% 4% 2% 4%;
}

#carrito-card-info-titulo{
    font-size: 1.3rem;
    color: #262626;
}

#carrito-card-info-titulo:hover{
    text-decoration: underline 1px;
}

.carrito-card-info-clasificacion{
    display: flex;
    align-items: center;
    gap: 2%;
}

.carrito-card-info-clasificacion h3{
    font-size: 0.7rem;
}



.carrito-card-footer{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.eliminarBoton{
    font-size: 1rem;
}

.eliminarBoton:hover{
    color: rgb(212, 212, 212);
    text-decoration: underline 1px;
    cursor: pointer;
}

/*------ Resumen de Compra ------*/

.carrito-info{
    color:#262626;
}

.carrito-info-header {
    margin-bottom: 8%;
}

.carrito-info-header h2{
    font-size: 1.5rem;
}

.carrito-info-calculo{
    display: flex;
    flex-direction: column;
}

.carrito-info-calculo-item{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.carrito-info-calculo-item h2{
    font-size: 0.9rem;
    text-align: right;
}

#impuesto{
    margin-left: 10%;
    color: #262626;
}

#subtotal-container{
    margin: 2% 0% 4% 0%;
}

#boton-comprar{
    background-color: rgba(0,116,228,255);
    color: white;
    padding: 4.5%;
    border-radius: 5px;
    border: none;
}

#boton-comprar:hover{
    background-color: rgba(30,146,258,255);
}

/* ------------- Carrito null -------------- */

.carrito-null-container{
    margin: 5% 13% 5% 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #262626;
}

.carrito-null-container h2{
    margin: 3% 0% 2% 0%;
    font-size: 1.7rem;
}

.carrito-null-container a{
    color: rgba(150,150,150,255);
}

.carrito-null-container a:hover{
    color: #262626;
}


.material-symbols-outlined{
    font-size: 2rem;
}

.modal-content{
    color: #262626;
    background-color: rgba(42,42,42,255);
}

.carrito-card-header-precio{
    align-items: center;
    min-width: 30%;
    margin: 0;
    padding: 0;
}

.carrito-card-header h5{
    font-size: 0.9rem;
    background-color: rgba(0,116,228,255);
    border-radius: 5px;
    color: #262626;
    padding: 0% 5% 0% 5%;
}

@media (max-width: 850px) {

    #carrito-container{
        flex-direction: column;
    }
    .carrito-card-container{
        width: 100%;
    }
    .carrito-card{   
        height: 100%;
    }


    .carrito-card-content{  
        height:200px;
    }

    .carrito-card-imagen{
        max-width: 20%;
    }
   
  }

  @media (max-width: 600px){
    .carrito-card-imagen{
        max-width: 30%;
    }

    .carrito-card-info-clasificacion{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .carrito-card-content{  
        height:150px;
    }

    #carrito-card-info-titulo{
        font-size: 1.1rem;
    }
    #carrito-header{
        font-size: 1.5rem;

    }

  }