/*-------------------------- main ----------------------*/



#portada{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#portada img{
    width: 100%;
    height: auto;
}

/*-------------------- Varios ----------------------*/

#varios-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 5% 5%;
    color: white;
}

.varios-subcontainer{
    min-width: 30%;
    padding: 1%;
}

.varios-subcontainer:hover{
    min-width: 30%;

    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #888888;
    border: 0.25px solid #737373;
}

.varios-subcontainer h2{
    font-size: 1rem;
}

.varios-subcontainer button{
    font-size: 0.9rem;
    padding: 1% 5% 1% 5%;
    background-color: #D9D9D9;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 5%;
}
.varios-subcontainer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
}

.varios-subcontainer-header h2{
    margin-bottom: 3%;
}

.varios-{
    border-radius: 10px;
    padding: 4% 3% 2% 6%;
    display: flex;
    transition: 0.2s;
    background-color: white;
    margin-bottom: 2%;
    color: #262626;
}

.varios-:hover{
    cursor: pointer;
    transition: 1s;
    transform: scale(1.01);
    box-shadow: 5px 5px 10px #888888;
}

.varios- img{
    border-radius: 5px;
    width: 112.5px;
    height: 75px;
}

.varios--info{
    margin: 0% 0% 0% 6%;
    min-width: 50%;
}
.varios--info h2{
    height: 64%;
    display: block;
}

.varios--info-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    display: block;
}

.varios- h3{
    font-size: 1rem;
}

@media (max-width: 1000px) {
    #varios-container{
        flex-direction: column;
        margin: 0% 2% 5% 2%;
        gap: 20px;
    }
    .varios-subcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    #varios-subcontainer-body-1,#varios-subcontainer-body-2,#varios-subcontainer-body-3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-evenly;
    }
    .varios-{
        width: 30vw;
        min-width: 250px;
        margin: 0.5%;
    }
  }

  @media (max-width: 650px) {
    #varios-subcontainer-body-1,#varios-subcontainer-body-2,#varios-subcontainer-body-3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .varios-{
        width: 100%;
    }
    .varios-subcontainer:hover{
        border-radius: none;
        box-shadow: none;
        border: none;
    }
  }