/* ------------------------ main ---------------------------*/


#producto h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
    font-weight: bold;
}

#producto {
display: flex;
justify-content: space-evenly;
}

.producto-header{
    max-width: 50vw;
    text-align: center;
}


#producto img{
    width: 50%;
    height: auto;
}

#producto p{
    font-size: 150%;
}

#descripcion{
    display: flex;
    justify-content: start;
}

#descripcion h3{
    font-size: 120%;
    text-align: center;
    margin:3% 3% 3% 1% ;
}

#info-producto{
    color:#262626;
}

#info-producto img{
    width: 100%;
    height: auto;
    border-radius:15px;
}


#precio h2{
    margin-top: 1rem;
    font-size: 200%;
    text-align: center;
}


.searchButton{
    margin-top: 5%;
    width: 100%;
    height: 2.5rem;
    background-color:  rgba(0,116,228,255);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
}

#caracteristicas{
    display: grid;
    align-items: center;
    margin: 3%;
    padding: 4%;
    margin-left: 2%;
    margin-right:2%;
}

#caracteristicas h3{
    font-size: 150%;

}

#caracteristicas p{
    font-size: 110%;
}

#caracteristicas span{
    font-size: 110%;
    font-style: italic;
    font-weight: bold;
}

.caracteristicas{
    display: flex;
    justify-content: space-between;
}

.descripcion{
    margin-top: 1.5rem;
    font-size: 65%;
}

#nombreUsuario{
    padding-right: 2rem;
}

#logout:hover{
    cursor: pointer;
    color: rgba(0,116,228,255);
}

header{
    position:fixed;
    top: 0;
    right: 0; 
    left:0;
    z-index: 10; 
    background-color: #121212
}

@media (max-width: 611px) {

    #producto {
        flex-direction: column;
        }
        
        .producto-header{
            max-width: 100vw;
        }

        #producto img{
            width: 75vw;
            height: auto;
        }

  }